/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'], 
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
    font-size: 17.5px;
    color: #1b1b1b;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-family: arial,x-locale-body,sans-serif, zillaslab,palatino,"Palatino Linotype",serif;
    display: flex;
}

ul {
  padding: 0;
  margin-top: 9px;
  margin-bottom: 0;
}

#aside-container li {
  font-size: .9rem;
  margin-bottom: 3.5px;
}

a {
  all: unset;
  text-decoration: underline;
  font-weight: 100;
  /* list-style: none; */
  cursor: pointer;
  color: #005282;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem !important;
}

h2 {
  font-size: 1.21rem;
  /* text-align: left; */
}

aside #aside-container {
  margin: 25px 0 0 25px;
}

.main-list-a {
  text-decoration: none;
}

.main-list-a:hover {
  text-decoration: underline;
}

#list-2 {
  margin-top: 30px;
}

#list-2 header h2 {
  font-weight: 300;
}

#list-2-ul {
  margin-top: 20px;
}

.list-2-li {
  margin-bottom: 0 !important;
}

#a-2-js {
  font-size: .79rem;
  font-style: italic;
  font-weight: 600 !important;
}

#li-2-tutorials {
  margin-top: 10px;
  margin-bottom: 0 !important;
}

#a-2-tutorials {
  font-weight: 600 !important;
  font-size: .79rem;
}

summary {
  cursor: pointer;
  font-size: .81rem;
}

.mt-20 {
  margin-top: 20px;
}

aside {
  /* background-color: #000; */
  min-width: 290px;
  width: 27%;
  height: 100%;
}

.container {
  margin-top: 25px;
  text-align: left;
}

.section-container {
  margin-right: auto;
  max-width: 730px;
  /* min-width: ; */
}

p {
  margin-top: 10px;
  font-size: .9rem;
}

.mt-15 {
  margin-top: 20px;
}

#text-box {
  background-color: #bbd8ff;
  width: 100%;
  padding: 24px 0 24px 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 6px;
}

#text-box p {
  margin-top: 20px;
}

#text-box_1 {
  font-weight: 600;
  margin-top: 0 !important;
}

#text-box_3 {
  font-weight: 600 !important;
}

.none {
  display: none;
}

#responsive-main-ul {
  position: absolute;
  border: 2px solid #005282;
  width: 200px;
  height: auto;
  padding: 10px 0 20px 20px;
  background-color: #fff;
  top: 63px;
}

.responsive-main-li {
  margin-top: 10px;
}

#responsive-details {
  display: none;
}

@media only screen and (max-width :1200px) {
  #responsive-details {
    display: initial;
  }

  #ab-1200 {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #list-2 {
    display: none;
  }

  body {
    display: block;
  }

  aside #aside-container {
    margin: 10px 0 0 25px;
  }

  .section-container {
    margin-left: 25px;
  }

}

@media only screen and (max-width: 769px) {
  h1 {
    font-size: 1.5rem !important;
    margin-top: 24px;
  }

  .section-container {
    margin: 0 auto;
    width: 93%;
  }
}